.git/
.gitignore
.gitattributes
.github/
.gitmodules
target/
.build/
.gradle/
gradle/
gradlew
gradlew.bat
.idea/
.vscode/
*.md
*.log
docs/
terraform/
k8s/
monitoring/
argocd/
compose.yaml
docker-compose-petclinic.yml
deploy.sh
destroy.sh