name: cd of springpetclinic
on:
  workflow_dispatch: 
    inputs:
      environment:
        description: "choose environment"
        required: true
        default: "staging"
jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
        - name: checkout repository
          uses: actions/checkout@v4

        - name: aws credntials
          uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838
          with:
            aws-region: eu-central-1
            aws-access-key-id: ${{ secrets.AWS_GITHUB_ACTIONS_ID }}
            aws-secret-access-key: ${{ secrets.AWS_GITHUB_ACTIONS_SECRET }}
          
        - name: download docker on EC2
          run: |
              INSTANCE_ID=i-0e38b3458f8db6da4

              # Send the command
              CMD_ID=$(aws ssm send-command \
                --targets "Key=instanceIds,Values=$INSTANCE_ID" \
                --document-name "AWS-RunShellScript" \
                --parameters 'commands=[
                  "sudo apt-get update -y",
                  "sudo apt-get install -y ca-certificates curl gnupg",
                  "sudo install -m 0755 -d /etc/apt/keyrings",
                  "curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg",
                  "echo \"deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable\" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null",
                  "sudo apt-get update -y",
                  "sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin",
                  "sudo systemctl enable docker",
                  "sudo systemctl start docker"
                ]' \
                --query "Command.CommandId" --output text)

              echo "Sent command $CMD_ID, waiting for it to finish..."

              # Wait for completion
              aws ssm wait command-executed --command-id $CMD_ID --instance-id $INSTANCE_ID

              # Show the output
              aws ssm list-command-invocations \
                --command-id $CMD_ID \
                --instance-id $INSTANCE_ID \
                --details
        - name: Pull image and start container
          run: |
            INSTANCE_ID=i-0e38b3458f8db6da4

            CMD_ID=$(aws ssm send-command \
              --targets "Key=instanceIds,Values=$INSTANCE_ID" \
              --document-name "AWS-RunShellScript" \
              --parameters 'commands=[
                "sudo docker container run -d --name web -p 8080:8080 deaddeal96/spring-petclinic-githubactions:latest"
              ]' \
              --query "Command.CommandId" --output text)

            echo "Sent container run command $CMD_ID, waiting for it to finish..."

            aws ssm wait command-executed --command-id $CMD_ID --instance-id $INSTANCE_ID

            aws ssm list-command-invocations --command-id $CMD_ID --instance-id $INSTANCE_ID --details

