on:
  workflow_dispatch: 
    inputs:
      environment:
        description: "choose environment"
        required: true
        default: "staging"
jobs:
    spring-petclinic-CI-CD:
      runs-on: ubuntu-latest

      steps:
        - name: checkout code
          uses: actions/checkout@v5.0.0
        - name: setup java jdk
          uses: actions/setup-java@v5.0.0
          with:
            java-version: 17
            distribution: temurin
        - name: build code using maven and skipping tests
          run:  mvn clean install -DskipTests    
        - name: SonarCloud Scan
          uses: sonarsource/sonarcloud-github-action@master
          with:
            args: >
              -Dsonar.projectKey=mofayad96_spring-petclinic
              -Dsonar.organization=mofayad96
              -Dsonar.java.binaries=**/target/classes
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            
