name: ci of springpetclinic
on:
  workflow_dispatch: 
    inputs:
      environment:
        description: "choose environment"
        required: true
        default: "staging"
jobs:
    spring-petclinic-CI-CD:
      runs-on: ubuntu-latest

      steps:
        - name: checkout code
          uses: actions/checkout@v5.0.0
        - name: setup java jdk
          uses: actions/setup-java@v5.0.0
          with:
            java-version: 17
            distribution: temurin
        - name: build code using maven and skipping tests
          run:  mvn clean install -DskipTests    
        - name: SonarQube Static Code Analysis
          run: |
            mvn clean install sonar:sonar -DskipTests \
              -Dsonar.projectKey=mofayad96_spring-petclinic \
              -Dsonar.organization=mofayad96 \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        - name: Docker Setup Buildx 
          uses: docker/setup-buildx-action@v3.11.1

        - name: Docker Login
          uses: docker/login-action@v3.5.0
          with:
            username: ${{secrets.DOCKER_USERNAME}} 
            password: ${{secrets.DOCKER_PASS}}
        - name: Build and push Docker images
          uses: docker/build-push-action@v6.18.0
          with: 
            context: .
            file: Dockerfile.multistage
            push: true
            tags:  deaddeal96/spring-petclinic-githubactions:latest
        - name: Notify Slack
          uses: slackapi/slack-github-action@v1.27.0
          with:
            payload: |
              {
                "text": " Build finished for *${{ github.repository }}* on branch *${{ github.ref_name }}* \nStatus: ${{ job.status }}"
              }
          env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
            
